**/build/
**/romfs/
romm-switch-client/build/
romm-switch-client/config.json
romm-switch-client/.env
romm-switch-client/targetlog.txt
romm-switch-client/Makefile
romm-switch-client/tests/romm_tests
romm-switch-client/tests/romm_tests.exe
*.nro
*.nacp
*.elf
*.map
SwitchRomM.code-workspace
